.pokemon-navigation button {
  background-color: var(--color-red);
}

.pokemon-navigation button:hover {
  background-color: var(--color-red);
}

.pokemon-navigation button:disabled {
  background-color: var(--color-red);
}