.pokemon-list {
  overflow-y: scroll ;
  background-color: var(--color-red-80);
}

.pokemon-list li {
  list-style: none;
  background-color: var(--color-write-80);
  border: 3px solid var(--color-gray);
  border-radius: 5px;
  
  color: var(--color-black);
  text-decoration: none;
}

.pokemon-list li:first-child {
  margin-top: 0 !important;
}

.pokemon-list li:last-child {
  margin-bottom: 0 !important;
}

.pokemon-list li:hover {
  cursor: pointer;
  background-color: var(--color-blue-90);
  border-color: var(--color-blue-80);
  color: var(--color-write);
  font-weight: 800;
}

.pokemon-list li:active, .pokemon-list-active {
  background-color: var(--color-blue-50) !important;
  border-color: var(--color-black) !important;
  color: var(--color-write) !important;
  font-weight: 800 !important;
}